@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.container{
  max-width: 850px;
  margin: 0 auto;
  line-height: 1.4rem;
  margin-top: 3.5rem;
}

img {
  max-width: 180%;
}

.card{
  border-radius: 1rem;
  overflow: hidden;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  padding: 6rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: hsl(225, 100%, 94%);
}

.card-title{
  color: hsl(223, 47%, 23%);
  margin: 1rem 0.5rem 1rem 0;
  font-size: 120%!important;
  line-height: 120%!important;
  font-weight: 900;
}

.card-content{
  background-color: hsl(225, 100%, 98%);
  border-radius: 1rem;
}

.container #title{
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 14px;
}

.container #price{
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}

.btn-change:hover{
	text-decoration: none;
	color: hsl(245, 83%, 68%);
}

.btn-payment{
	font-weight: 700;
  font-size: 12px;
	background-color: hsl(245, 75%, 52%);
	border-radius: 0.5rem;
	-webkit-box-shadow: 0px 15px 22px 5px rgba(56,41,224,0.25); 
	box-shadow: 0px 15px 22px 5px rgba(56,41,224,0.25);
}

.btn-payment:hover{
	background-color: hsl(245, 83%, 68%);
}

.btn-link{
	text-decoration: none;
	color: hsl(224, 23%, 55%);
}

.btn-change, .btn-link{
	font-size: 0.70rem;
	font-weight: 900;
}

.btn-link:hover{
	color: hsl(223, 47%, 23%);
}

p {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  font-size: 0.80rem;
}

.attribution { 
  margin-top: 4rem;
  font-size: 16px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 350px) {
  .container {
    width: 350px;
    margin: auto auto;
  }
}